.footer {
    text-align: center;
    padding: 50px 0px;
    @media (max-width: $md3+px) {
        padding: 30px 0px;
    }
    &__content {
    }

    &__social {
        margin: 0px 0px 25px 0px;
    }

    &__copy {
    }
}

