@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
@import "fonts";
@import "icons";
$font-family: "Heebo";

$minWidth: 320px;
$maxWidth: 2560;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;









