$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
@import "fonts";
@import "icons";
@import "header.scss";
@import "forms.scss";
@import "ui.scss";
@import "home.scss";
@import "works.scss";
$font-family: "Heebo";

@import "null.scss";
body {
    color: #21243d;
    font-family: $font-family;
    //font-size: 14px;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {

    }
}

._container {
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 750px;
    }
    @media (max-width: $md2+px) {
        max-width: none;
        padding: 0 10px;
    }
}

.page {
    padding: 90px 0px 0px 0px;
    flex: 1 1 auto;
    @media (max-width: $md3+px) {
        padding: 30px 0px 0px 0px;
    }
}







