.works {

    &__item {
        display: flex;
        align-items: flex-start;
        padding: 0px 0px 30px 0px;
        margin: 0px 0px 30px 0px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__image {
        flex: 0 0 246px;
        border-radius: 6px;
        min-height: 180px;
    }

    &__body {
        flex: 1 1 auto;
        padding: 0px 0px 0px 18px;
    }

    &__title {
        color: inherit;
        display: inline-block;
        font-size: 30px;
        font-weight: 700;
        line-height: 44 / 30 * 100%;
        margin: 0px 0px 15px 0px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin: 0px 0px 15px 0px;
    }

    &__year {
        background: #142850;
        border-radius: 16px;
        height: 25px;
        padding: 0px 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 900;
        font-size: 18px;
    }

    &__category {
        color: #8695a4;
        font-size: 20px;
        margin: 0px 0px 0px 25px;
    }

    &__text {
    }
}

